{
  "branches": [
    {
      "name": "release",
      "channel": "latest",
      "type": "release"
    },
    {
      "name": "dev",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer", 
    "@semantic-release/release-notes-generator", 
    "@semantic-release/github"
  ]
}
